<tree-root [nodes]="nodes" [options]="options" >
    <ng-template #treeNodeTemplate let-node="node">
        <span *ngIf="node === editNode">
            <input autofocus [(ngModel)]="node.data.name" (blur)="stopEdit()" (keyup.enter)="stopEdit()" />
        </span>
        <span *ngIf="node !== editNode">{{ node.data.name }}</span>
    </ng-template>
</tree-root>

<button *ngIf="storageLength!==0" (click)="onEditClick()">Edit sessionStorage</button>

<div class="menu" *ngIf="contextMenu" [style.left.px]="contextMenu.x" [style.top.px]="contextMenu.y">
  <div>Menu for {{ contextMenu.node.data.pureName }}</div>
  <hr>
  <ul>
    <li (click)="copyValue()"><a [style.opacity]="notRoot() && 1 || 0.3">Copy value</a></li>
    <li (click)="copyObj()"><a [style.opacity]="isRoot() && 1 || 0.3">Copy object</a></li>
    <li (click)="pasteValue()"><a [style.opacity]="notRoot() && canPaste() && 1 || 0.3">Paste value</a></li>
    <li (click)="delete(contextMenu.node)"><a [style.opacity]="isRoot() && 1 || 0.3">Delete</a></li>
  </ul>
</div>
