<div>
    <tree-root #tree [nodes]="nodes" [options]="options" [focused]="true" draggable>
        <ng-template #treeNodeTemplate let-node="node">
            <span *ngIf="node === editNode">{{ node.data.pureName }}
                <input *ngIf=" (node.data.style!=='textarea') " type={{node.data.style}} autofocus [(ngModel)]="node.data.editVal" (change)="stopEdit()" (keyup.enter)="stopEdit()" (click)="preventDe($event)"/>
                <textarea *ngIf=" node.data.style === 'textarea' " autofocus [(ngModel)]="node.data.editVal" (blur)="stopEdit()" (keyup.enter)="stopEdit()"></textarea>
            </span>
            <span *ngIf="node !== editNode">{{ node.data.name }}</span>
        </ng-template>
    </tree-root>

    <button *ngIf="storageLength!==0" (click)="onEditClick()">Edit Object</button>
</div>


<div class="menu" *ngIf="contextMenu && contextMenu.node.data.canEdit===true" [style.left.px]="contextMenu.x" [style.top.px]="contextMenu.y">
    <div *ngIf="notRoot()">Menu for {{ contextMenu.node.data.pureName }}</div>
    <div *ngIf="isRoot()">Menu for {{ contextMenu.node.data.name }}</div>
    <hr>
    <ul>
        <li (click)="outputObject(contextMenu.node)"><a [style.opacity]="isRoot() && 1 || 0.3">Output object</a></li>
        <li (click)="editValue()"><a [style.opacity]="notRoot() && 1 || 0.3">Edit value</a></li>
        <li (click)="copyValue()"><a [style.opacity]="hasVal() && 1 || 0.3">Copy value</a></li>
        <li (click)="copyObj()"><a [style.opacity]="isRoot() && 1 || 0.3">Copy object</a></li>
        <li (click)="pasteValue()"><a [style.opacity]="notRoot() && canPaste() && 1 || 0.3">Paste value</a></li>
        <li (click)="deleteValue(contextMenu.node)"><a [style.opacity]="hasVal() && notRoot() && 1 || 0.3">Delete value</a></li>
        <li (click)="deleteObject(contextMenu.node)"><a [style.opacity]="isRoot() && 1 || 0.3">Delete object</a></li>
    </ul>
</div>
<div class="menu" *ngIf="contextMenu && contextMenu.node.data.canEdit===false && contextMenu.node.parent.parent===null" [style.left.px]="contextMenu.x" [style.top.px]="contextMenu.y">
    <div *ngIf="notRoot()">Menu for {{ contextMenu.node.data.pureName }}</div>
    <div *ngIf="isRoot()">Menu for {{ contextMenu.node.data.name }}</div>
    <hr>
    <ul>
        <li (click)="outputObject(contextMenu.node)"><a [style.opacity]="isRoot() && 1 || 0.3">Output object</a></li>
        <li (click)="editValue()"><a [style.opacity]="notRoot() && 1 || 0.3">Edit value</a></li>
        <li (click)="copyValue()"><a [style.opacity]="hasVal() && 1 || 0.3">Copy value</a></li>
        <li (click)="copyObj()"><a [style.opacity]="isRoot() && 1 || 0.3">Copy object</a></li>
        <li (click)="pasteValue()"><a [style.opacity]="notRoot() && canPaste() && 1 || 0.3">Paste value</a></li>
        <li (click)="deleteValue(contextMenu.node)"><a [style.opacity]="hasVal() && notRoot() && 1 || 0.3">Delete value</a></li>
        <li (click)="deleteObject(contextMenu.node)"><a [style.opacity]="isRoot() && 1 || 0.3">Delete object</a></li>
    </ul>
</div>
<script>
    $("input").click(function(event){
        event.stopPropagation();
    });
</script>