<form [formGroup] = "form_receive" (ngSubmit) = "output()">
  <ng-container *ngFor = "let key of Member">
    <label *ngIf = "key!=='@id' && key!=='@type'">
      {{ key }} :
<input *ngIf="MemberStyle[key] !== 'textarea'" type={{MemberStyle[key]}} formControlName={{key}}>
<textarea *ngIf=" MemberStyle[key] ==='textarea'" formControlName={{key}} ></textarea>
    </label>
  </ng-container>
  <button type="submit">Output Object</button>
</form>
<br>
<br>
<button (click)="store()">store</button>
<br>
<button (click)="clearForm()">Clear Form</button>
<!--
<p>
  Form Value: {{ form_receive.value | json }}
</p>
-->
<button (click)="clearSession()">Clear Session Storage</button>