<form [formGroup] = "form_receive" (ngSubmit) = "output()">
  <ng-container *ngFor = "let key of classMember">
    <label *ngIf = "key!=='@id' && key!=='@type'">
      {{ key }} :
    <input  type={{MemberStyle[key]}} formControlName={{key}}>
    <textarea *ngIf=" MemberStyle[key] =='textarea'"></textarea>
    </label>
  </ng-container>
  <button type="submit">Output Object</button>
</form>
<br>
<br>
<button (click)="sessionStore()">store</button>
<br>
<button (click)="clear()">clear</button>

<p>
  Form Value: {{ form_receive.value | json }}
</p>
<button (click)="clearSession()">clear sessionStorage</button>